<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bug.mapper.ServicesMapper">

    <resultMap type="com.bug.vo.ServiceTableResult" id="rst">
        <result property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="userid" column="userid"/>
        <result property="customerId" column="customer_id"/>
        <result property="cusName" column="cusName"/>
        <result property="telephone" column="telephone"/>
        <result property="serviceContent" column="service_content"/>
        <result property="createTime" column="create_time"/>
        <result property="state" column="state"/>
        <result property="allocationTime" column="allocation_time"/>
        <result property="serviceDispose" column="service_dispose"/>
        <result property="satisfaction" column="satisfaction"/>
        <result property="comment" column="comment"/>
        <result property="serviceBackId" column="serviceBackId"></result>
    </resultMap>
    <select id="getAllContent" resultMap="rst">
--         select
--         s.id id, type, u.id userid, deal_userid, c.id customer_id, sb.id serviceBackId,
--         c.name cusName, c.telephone telephone, service_content, s.create_time create_time,
--         s.state state, allocation_time, service_dispose, satisfaction, comment
--         from users u, services s, customer c, service_back sb
--         where s.userid=u.id and c.id=s.customer_id and s.id=sb.serviceid

        select
        s.id id, type, u.id userid, deal_userid, c.id customer_id, sb.id serviceBackId,
        c.name cusName, c.telephone telephone, service_content, s.create_time create_time,
        s.state state, allocation_time, service_dispose, satisfaction, comment
        from  services s left join users u on s.userid=u.id
        left join customer c on s.customer_id = c.id
        left join service_back sb on s.id=sb.serviceid
        limit #{start}, #{end}
    </select>

    <select id="getTotal" resultType="Integer">
--         select
--         s.id id, type, u.id userid, deal_userid, c.id customer_id, sb.id serviceBackId,
--         c.name cusName, c.telephone telephone, service_content, s.create_time create_time,
--         s.state state, allocation_time, service_dispose, satisfaction, comment
--         from users u, services s, customer c, service_back sb
--         where s.userid=u.id and c.id=s.customer_id and s.id=sb.serviceid

        select
        count(*)
        from  services s left join users u on s.userid=u.id
        left join customer c on s.customer_id = c.id
        left join service_back sb on s.id=sb.serviceid

    </select>


</mapper>